body {
    background-image: url("images/indoorsy.jpeg");
    background-size: cover;
    font-family: -apple-system, 'Times New Roman', Times, seri, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-weight: bold;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: bisque;
    border-radius: 50px;
}

h1 {
    margin-bottom: 10px;
    color: black;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: black;
}

button {
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    color: bisque;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: black;
}

#increment-btn {
    background: #3D5B9B;
}

#save-btn {
    background: #60713B;
}

#save-el{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

